@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@media print{
	*{color: red;
	  background-color:white;
	}
}

body{
	background-color: #CAE0E3;
	background-image: url('../img/backgroundbody.jpg');
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

header h1{
 color: #0066CD;
 position: fixed;
 font-size: 30px;
 top: 25px;
 left:350px;
}

header h2{
position: absolute;
top:30px;
left: 400px;
}

h1{
	margin: 0;

}

header{
	width:850px;
	height: 315px;
	margin: 0 auto; /*CSS Hack!*/
	background-image: url('../img/header.jpg');
	padding: 0px;
	border-bottom: solid 2px #000;
	box-shadow: -5px 5px 5px;
}

section#main{
	background-color: #FFF;
	width: 850px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: -5px 5px 5px;
}

nav{
	float:left;
	width: 190px;
}

nav a{
	padding: 8px;
	font-weight: bold;
	color: #7F7F7F;
	background-color: #8F9FF7;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 32px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 4px #005;
}
nav a:hover{
	color: #000000;
	border-bottom-color: #000000;
}
article#content{
	float:right;
	width:620px;
	padding:20px;
}
footer{
height: 20px;
width: 834px;
margin: 0 auto;
background-color: #FFF;
border-top: solid 2px #000;
padding: 8px;
text-align: center;
box-shadow: -5px 5px 5px;
}

.clear{
	clear:both;
}
.dados-tabulados{
	border: solid 1px #555;
	border-radius: 10px;
	width: 100%;
}

.dados-tabulados tr{
	border-bottom: solid 1px #555;
}

.dados-tabulados tbody tr:nth-child(odd){
	background-color: #DDD;
}

.dados-tabulados tbody tr:nth-child(even){
	background-color: #CCC;
}
#content ol{
	list-style-position: outside;
	list-style-type: upper-roman;
}	

#content ul{
	list-style-position: outside;
	list-style-type: circle;
	list-style-image: url('../img/check.gif');
}